Server-Backend-trilateration/completeBackendServer.json
[
    {
        "id": "5ecdbd2c1de7cc9e",
        "type": "tab",
        "label": "SaveToDB",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d212a43e3350495a",
        "type": "tab",
        "label": "Crash Management",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "84b5927ffda683d4",
        "type": "serial-port",
        "serialport": "/dev/tty.usbmodem102",
        "serialbaud": "115200",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "\\n",
        "responsetimeout": "10000"
    },
    {
        "id": "3fd7311e.c028ce",
        "type": "mqtt-broker",
        "broker": "localhost",
        "port": "1883",
        "clientid": ""
    },
    {
        "id": "2fe527e2b18c3e0d",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.43.65",
        "port": "2560",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "12b2f72dc556c72c",
        "type": "websocket-listener",
        "path": "",
        "wholemsg": "false"
    },
    {
        "id": "5f151f6c8844ff8e",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.43.242",
        "port": "2560",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "f58517cafec50859",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.43.242",
        "port": "2560",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "b1de76ddbaf505a8",
        "type": "mongodb",
        "hostname": "cluster0.dbijv.mongodb.net",
        "topology": "dnscluster",
        "connectOptions": "",
        "port": "27017",
        "db": "Boats",
        "name": ""
    },
    {
        "id": "eaf96980e08c80fa",
        "type": "mongodb",
        "hostname": "cluster0.xdjeu.mongodb.net",
        "topology": "dnscluster",
        "connectOptions": "",
        "port": "27017",
        "db": "Boating",
        "name": ""
    },
    {
        "id": "b23b4e02f3e3da96",
        "type": "mongodb",
        "hostname": "cluster0.dbijv.mongodb.net",
        "topology": "dnscluster",
        "connectOptions": "",
        "port": "27017",
        "db": "Data",
        "name": ""
    },
    {
        "id": "1f12001b5cae229f",
        "type": "twilio-api",
        "name": "SMS",
        "sid": "ACaf43223c67374d467827c0bd6fac879a",
        "from": "+44 7897 015658"
    },
    {
        "id": "7e3d3ce763b99d93",
        "type": "twitter-credentials",
        "screen_name": "SSC330Group3"
    },
    {
        "id": "372e143b1e112c38",
        "type": "postgresDB",
        "name": "@127.0.0.1:5432/postgres",
        "host": "127.0.0.1",
        "port": "5432",
        "database": "postgres",
        "ssl": false,
        "max": "10",
        "min": 1,
        "idle": "1000"
    },
    {
        "id": "bc556db074ac0cf0",
        "type": "sqlitedb",
        "db": "/Users/cameronpugh/testing",
        "mode": "RWC"
    },
    {
        "id": "ececb8d0c570151e",
        "type": "sqlitedb",
        "db": "/users/cameronpugh/lp.db",
        "mode": "RWC"
    },
    {
        "id": "98d0417d50b00af4",
        "type": "sqliteQueuedDb",
        "db": "/Users/cameronpugh",
        "mode": "RWC"
    },
    {
        "id": "fa08e5de020a4429",
        "type": "sqlitedb",
        "db": "/Users/cameronPugh/databasename.db",
        "mode": "RWC"
    },
    {
        "id": "6956152fdeb741d3",
        "type": "MySQLdatabase",
        "name": "",
        "host": "sql4.freesqldatabase.com",
        "port": "3306",
        "db": "sql4467174",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "e81415cdf87ce8b2",
        "type": "serial in",
        "z": "5ecdbd2c1de7cc9e",
        "name": "",
        "serial": "84b5927ffda683d4",
        "x": 420,
        "y": 300,
        "wires": [
            [
                "2556e1057253abcd",
                "bc8ea1447d12ecc8",
                "b4ada918bf39692c",
                "a8d643cad6e1278d"
            ]
        ]
    },
    {
        "id": "bc8ea1447d12ecc8",
        "type": "function",
        "z": "5ecdbd2c1de7cc9e",
        "name": "getData",
        "func": "var splitString = msg.payload.split(',');\n\nif (splitString[1] == \"Data\")\n{\n    msg.payload = \n    { \n        microbitIDOne : parseInt(splitString[2]),\n        microbitIDTwo : parseInt(splitString[3]),\n        objDirection : splitString[4],\n        objTemp : parseInt(splitString[5]),\n        objAcc : parseInt(splitString[6]),\n        rssiBetweenObj : parseInt(splitString[7]),\n        hb : parseInt(splitString[8])\n    }\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 180,
        "wires": [
            [
                "8375aaa117e902c5",
                "536ceefd624f5342",
                "6ed56ca9d8c567a6",
                "dd2c93986edcd0bf",
                "f4c64a2f955a6b71",
                "c63ee3bd6d7f2d4f"
            ]
        ]
    },
    {
        "id": "2556e1057253abcd",
        "type": "debug",
        "z": "5ecdbd2c1de7cc9e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 370,
        "y": 260,
        "wires": []
    },
    {
        "id": "1a1f215ce6fa4392",
        "type": "inject",
        "z": "5ecdbd2c1de7cc9e",
        "name": "Data inject",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1,Data,6969,2222,NNW,22,33,-65,10",
        "payloadType": "str",
        "x": 700,
        "y": 140,
        "wires": [
            [
                "bc8ea1447d12ecc8"
            ]
        ]
    },
    {
        "id": "2ca424a562b24d4a",
        "type": "debug",
        "z": "5ecdbd2c1de7cc9e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1770,
        "y": 280,
        "wires": []
    },
    {
        "id": "b4ada918bf39692c",
        "type": "function",
        "z": "5ecdbd2c1de7cc9e",
        "name": "getNBBData",
        "func": "var splitString = msg.payload.split(',');\n\nif (splitString[1] == \"NBBData\")\n{\n    msg.payload = \n    { \n        microbitIDOne : parseInt(splitString[2]),\n        microbitIDTwo : parseInt(splitString[3]),\n        rssiBetweenObj : parseInt(splitString[4]),\n        hb : parseInt(splitString[5])\n    }\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 380,
        "wires": [
            [
                "e049d1dea6301dbe",
                "f9795597672d2502",
                "d2ac7df730e735a7",
                "39a2daf701be9a75"
            ]
        ]
    },
    {
        "id": "5a56a9330387cc76",
        "type": "inject",
        "z": "5ecdbd2c1de7cc9e",
        "name": "NBBData inject",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1,NBBData,4711,7952,-80,10",
        "payloadType": "str",
        "x": 720,
        "y": 340,
        "wires": [
            [
                "b4ada918bf39692c"
            ]
        ]
    },
    {
        "id": "a8d643cad6e1278d",
        "type": "function",
        "z": "5ecdbd2c1de7cc9e",
        "name": "crash event",
        "func": "var splitString = msg.payload.split(',');\n\nif (splitString[1] == \"Crash\")\n{\n    msg.payload = splitString[2];\n    return msg;\n}\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 460,
        "wires": [
            [
                "2056523c813c7ca9"
            ]
        ]
    },
    {
        "id": "a0f83e59d1accb08",
        "type": "inject",
        "z": "5ecdbd2c1de7cc9e",
        "name": "Crash inject",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1,Crash,4892",
        "payloadType": "str",
        "x": 710,
        "y": 420,
        "wires": [
            [
                "a8d643cad6e1278d"
            ]
        ]
    },
    {
        "id": "2056523c813c7ca9",
        "type": "function",
        "z": "5ecdbd2c1de7cc9e",
        "name": "convert to SQL - crash table",
        "func": "// For todays date;\nDate.prototype.today = function () { \n    return this.getFullYear() +\"/\"+ (((this.getMonth()+1) < 10)?\"0\":\"\") + (this.getMonth()+1) +\"/\"+ ((this.getDate() < 10)?\"0\":\"\") + this.getDate();\n}\n\n// For the time now\nDate.prototype.timeNow = function () {\n     return ((this.getHours() < 10)?\"0\":\"\") + this.getHours() +\":\"+ ((this.getMinutes() < 10)?\"0\":\"\") + this.getMinutes() +\":\"+ ((this.getSeconds() < 10)?\"0\":\"\") + this.getSeconds();\n}\nvar newDate = new Date();\n\nmsg.column_name = [\"microbitID\", \"date\", \"time\"]\nmsg.column_sort = [parseInt(msg.payload),newDate.today(),newDate.timeNow()]\nmsg.database = 'Crash'\nmsg.command = \"insert\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1000,
        "y": 460,
        "wires": [
            [
                "cc390ed7cd70c56b"
            ]
        ]
    },
    {
        "id": "8375aaa117e902c5",
        "type": "function",
        "z": "5ecdbd2c1de7cc9e",
        "name": "convert to SQL - add readings ",
        "func": "msg.column_name = [\"microbitID\", \"temp\", \"acc\", \"direction\", \"heartbeat\"]\nmsg.column_sort = [parseInt(msg.payload.microbitIDTwo),parseInt(msg.payload.objTemp),parseInt(msg.payload.objAcc),msg.payload.objDirection,parseInt(msg.payload.hb)]\nmsg.database = 'Readings'\nmsg.command = \"insert\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1010,
        "y": 220,
        "wires": [
            [
                "cc390ed7cd70c56b"
            ]
        ]
    },
    {
        "id": "cc390ed7cd70c56b",
        "type": "sql-prepare",
        "z": "5ecdbd2c1de7cc9e",
        "name": "",
        "x": 1390,
        "y": 280,
        "wires": [
            [
                "2ca424a562b24d4a",
                "a55dfed0b8955e79"
            ]
        ]
    },
    {
        "id": "a55dfed0b8955e79",
        "type": "mysql",
        "z": "5ecdbd2c1de7cc9e",
        "mydb": "6956152fdeb741d3",
        "name": "",
        "x": 1590,
        "y": 280,
        "wires": [
            [
                "2ca424a562b24d4a"
            ]
        ]
    },
    {
        "id": "536ceefd624f5342",
        "type": "function",
        "z": "5ecdbd2c1de7cc9e",
        "name": "convert to SQL - Initialise microbit table",
        "func": "msg.column_name = [\"microbitID\",\"configID\"]\nmsg.column_sort = [parseInt(msg.payload.microbitIDTwo),1]\nmsg.database = 'Microbits'\nmsg.command = \"insert\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1040,
        "y": 180,
        "wires": [
            [
                "cc390ed7cd70c56b"
            ]
        ]
    },
    {
        "id": "6ed56ca9d8c567a6",
        "type": "function",
        "z": "5ecdbd2c1de7cc9e",
        "name": "convert to SQL- Initialise microbit table",
        "func": "msg.column_name = [\"microbitID\",\"configID\"]\nmsg.column_sort = [parseInt(msg.payload.microbitIDOne),2]\nmsg.database = 'Microbits'\nmsg.command = \"insert\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1040,
        "y": 140,
        "wires": [
            [
                "cc390ed7cd70c56b"
            ]
        ]
    },
    {
        "id": "dd2c93986edcd0bf",
        "type": "function",
        "z": "5ecdbd2c1de7cc9e",
        "name": "convert to SQL- Initialise distance table",
        "func": "msg.column_name = [\"microbitID\",\"microbitIDTwo\"]\nmsg.column_sort = [parseInt(msg.payload.microbitIDOne),parseInt(msg.payload.microbitIDTwo)]\nmsg.database = 'Distances'\nmsg.command = \"insert\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1040,
        "y": 100,
        "wires": [
            [
                "cc390ed7cd70c56b"
            ]
        ]
    },
    {
        "id": "f4c64a2f955a6b71",
        "type": "function",
        "z": "5ecdbd2c1de7cc9e",
        "name": "convert to SQL- update rssi values",
        "func": "msg.column_name = [\"heartbeat\"]\nmsg.column_data = [parseInt(msg.payload.hb)]\nmsg.column_sort = [\"microbitID\",\"microbitIDTwo\"]\nmsg.data = [parseInt(msg.payload.microbitIDOne),parseInt(msg.payload.microbitIDTwo)]\nmsg.database = 'Distances'\nmsg.command = \"update\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 260,
        "wires": [
            [
                "cc390ed7cd70c56b"
            ]
        ]
    },
    {
        "id": "c63ee3bd6d7f2d4f",
        "type": "function",
        "z": "5ecdbd2c1de7cc9e",
        "name": "convert to SQL- update rssi values",
        "func": "msg.column_name = [\"rssi\"]\nmsg.column_data = [parseInt(msg.payload.rssiBetweenObj)]\nmsg.column_sort = [\"microbitID\",\"microbitIDTwo\"]\nmsg.data = [parseInt(msg.payload.microbitIDOne),parseInt(msg.payload.microbitIDTwo)]\nmsg.database = 'Distances'\nmsg.command = \"update\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 300,
        "wires": [
            [
                "cc390ed7cd70c56b"
            ]
        ]
    },
    {
        "id": "e049d1dea6301dbe",
        "type": "function",
        "z": "5ecdbd2c1de7cc9e",
        "name": "convert to SQL- Initialise distance table",
        "func": "msg.column_name = [\"microbitID\",\"microbitIDTwo\"]\nmsg.column_sort = [parseInt(msg.payload.microbitIDOne),parseInt(msg.payload.microbitIDTwo)]\nmsg.database = 'Distances'\nmsg.command = \"insert\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1040,
        "y": 340,
        "wires": [
            [
                "cc390ed7cd70c56b"
            ]
        ]
    },
    {
        "id": "f9795597672d2502",
        "type": "function",
        "z": "5ecdbd2c1de7cc9e",
        "name": "convert to SQL- update rssi values",
        "func": "msg.column_name = [\"heartbeat\"]\nmsg.column_data = [parseInt(msg.payload.hb)]\nmsg.column_sort = [\"microbitID\",\"microbitIDTwo\"]\nmsg.data = [parseInt(msg.payload.microbitIDOne),parseInt(msg.payload.microbitIDTwo)]\nmsg.database = 'Distances'\nmsg.command = \"update\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 380,
        "wires": [
            [
                "cc390ed7cd70c56b"
            ]
        ]
    },
    {
        "id": "d2ac7df730e735a7",
        "type": "function",
        "z": "5ecdbd2c1de7cc9e",
        "name": "convert to SQL- update rssi values",
        "func": "msg.column_name = [\"rssi\"]\nmsg.column_data = [parseInt(msg.payload.rssiBetweenObj)]\nmsg.column_sort = [\"microbitID\",\"microbitIDTwo\"]\nmsg.data = [parseInt(msg.payload.microbitIDOne),parseInt(msg.payload.microbitIDTwo)]\nmsg.database = 'Distances'\nmsg.command = \"update\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 420,
        "wires": [
            [
                "cc390ed7cd70c56b"
            ]
        ]
    },
    {
        "id": "72b2a256dcc9eff7",
        "type": "serial out",
        "z": "5ecdbd2c1de7cc9e",
        "name": "",
        "serial": "84b5927ffda683d4",
        "x": 710,
        "y": 560,
        "wires": []
    },
    {
        "id": "ec36f010ef40a943",
        "type": "inject",
        "z": "5ecdbd2c1de7cc9e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "11117",
        "payloadType": "str",
        "x": 470,
        "y": 560,
        "wires": [
            [
                "72b2a256dcc9eff7"
            ]
        ]
    },
    {
        "id": "101730067b53d836",
        "type": "inject",
        "z": "5ecdbd2c1de7cc9e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "11118",
        "payloadType": "str",
        "x": 470,
        "y": 600,
        "wires": [
            [
                "72b2a256dcc9eff7"
            ]
        ]
    },
    {
        "id": "5b6d08378507ea96",
        "type": "inject",
        "z": "5ecdbd2c1de7cc9e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "7952100",
        "payloadType": "str",
        "x": 480,
        "y": 520,
        "wires": [
            [
                "72b2a256dcc9eff7"
            ]
        ]
    },
    {
        "id": "843a8432e996fb58",
        "type": "comment",
        "z": "5ecdbd2c1de7cc9e",
        "name": "address,protocolID",
        "info": "",
        "x": 490,
        "y": 640,
        "wires": []
    },
    {
        "id": "39a2daf701be9a75",
        "type": "link out",
        "z": "5ecdbd2c1de7cc9e",
        "name": "crash Management",
        "mode": "link",
        "links": [
            "0ae2576acaa1984e"
        ],
        "x": 895,
        "y": 500,
        "wires": []
    },
    {
        "id": "16275d8490108660",
        "type": "debug",
        "z": "5ecdbd2c1de7cc9e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 2150,
        "y": 500,
        "wires": []
    },
    {
        "id": "580560b8789cdd5a",
        "type": "http in",
        "z": "5ecdbd2c1de7cc9e",
        "name": "",
        "url": "/query",
        "method": "post",
        "upload": true,
        "swaggerDoc": "",
        "x": 1430,
        "y": 560,
        "wires": [
            [
                "e76646413ea39720"
            ]
        ]
    },
    {
        "id": "8d8ce70fdb291694",
        "type": "http response",
        "z": "5ecdbd2c1de7cc9e",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 2150,
        "y": 560,
        "wires": []
    },
    {
        "id": "e76646413ea39720",
        "type": "json",
        "z": "5ecdbd2c1de7cc9e",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": true,
        "x": 1570,
        "y": 560,
        "wires": [
            [
                "aa524d46cd9cf069"
            ]
        ]
    },
    {
        "id": "aa524d46cd9cf069",
        "type": "function",
        "z": "5ecdbd2c1de7cc9e",
        "name": "Query DB",
        "func": "msg.topic = msg.payload.SQL\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1700,
        "y": 560,
        "wires": [
            [
                "63c6e37c3d1390e0"
            ]
        ]
    },
    {
        "id": "63c6e37c3d1390e0",
        "type": "mysql",
        "z": "5ecdbd2c1de7cc9e",
        "mydb": "6956152fdeb741d3",
        "name": "",
        "x": 1850,
        "y": 560,
        "wires": [
            [
                "40bd039696c44426"
            ]
        ]
    },
    {
        "id": "40bd039696c44426",
        "type": "json",
        "z": "5ecdbd2c1de7cc9e",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": true,
        "x": 1990,
        "y": 560,
        "wires": [
            [
                "16275d8490108660",
                "8d8ce70fdb291694"
            ]
        ]
    },
    {
        "id": "0ae2576acaa1984e",
        "type": "link in",
        "z": "d212a43e3350495a",
        "name": "",
        "links": [
            "39a2daf701be9a75"
        ],
        "x": 55,
        "y": 100,
        "wires": [
            [
                "95e9bab1058ab225"
            ]
        ]
    },
    {
        "id": "5dfaa201886eedc1",
        "type": "function",
        "z": "d212a43e3350495a",
        "name": "calculate distance",
        "func": "msg.distance = 10 ** (( -55 - (msg.payload.rssiBetweenObj)) / 20);\nmsg.topic = \"SELECT Object.name FROM Object INNER JOIN Microbits ON Object.objectID=Microbits.objectID WHERE Microbits.microbitID = \" + msg.payload.microbitIDOne\nmsg.mTwo = msg.payload.microbitIDTwo\nmsg.aa = msg.payload.microbitIDOne\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 100,
        "wires": [
            [
                "34aeeb37348fa53f"
            ]
        ]
    },
    {
        "id": "dafd3d2bd0258be5",
        "type": "comment",
        "z": "d212a43e3350495a",
        "name": "inform of a potential crash (car to car, car to person)",
        "info": "",
        "x": 350,
        "y": 40,
        "wires": []
    },
    {
        "id": "34aeeb37348fa53f",
        "type": "mysql",
        "z": "d212a43e3350495a",
        "mydb": "6956152fdeb741d3",
        "name": "",
        "x": 550,
        "y": 100,
        "wires": [
            [
                "8734a222a3c12a49"
            ]
        ]
    },
    {
        "id": "8734a222a3c12a49",
        "type": "function",
        "z": "d212a43e3350495a",
        "name": "Query DB",
        "func": "msg.mOne = msg.payload[0].name\nmsg.topic = \"SELECT Object.name FROM Object INNER JOIN Microbits ON Object.objectID=Microbits.objectID WHERE Microbits.microbitID = \" + msg.mTwo\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 100,
        "wires": [
            [
                "0ef0c78cb17884af"
            ]
        ]
    },
    {
        "id": "0ef0c78cb17884af",
        "type": "mysql",
        "z": "d212a43e3350495a",
        "mydb": "6956152fdeb741d3",
        "name": "",
        "x": 870,
        "y": 100,
        "wires": [
            [
                "79725577b6304740",
                "78f52b2da7548c2a"
            ]
        ]
    },
    {
        "id": "79725577b6304740",
        "type": "function",
        "z": "d212a43e3350495a",
        "name": "Check if possible",
        "func": "if(msg.payload[0].name == \"Car\" && msg.mOne == \"Car\")\n{\n    if(1 < msg.distance && msg.distance < 10 )\n    {\n        msg.payload = msg.aa + \"100\"\n        return msg;\n    }\n}\nif(msg.payload[0].name == \"Person\" && msg.mOne == \"Car\")\n{\n    if(1 <msg.distance && msg.distance < 10)\n    {\n        msg.payload = msg.aa + \"100\"\n        return msg;\n    }\n}\nif(msg.payload[0].name == \"Car\" && msg.mOne == \"Person\")\n{\n    if(1 <msg.distance && msg.distance < 10)\n    {\n        msg.payload = msg.aa + \"100\"\n        return msg;\n    }\n}\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1090,
        "y": 100,
        "wires": [
            [
                "d73cec0c8024f382",
                "c3279d0f16f1e609",
                "9ee52fdf44c2147c"
            ]
        ]
    },
    {
        "id": "4b4d9f21070f4afd",
        "type": "comment",
        "z": "d212a43e3350495a",
        "name": "distance <10 and both obj acc>30 when they are bother Cars",
        "info": "",
        "x": 380,
        "y": 180,
        "wires": []
    },
    {
        "id": "0dd2eb7c03a7c53b",
        "type": "comment",
        "z": "d212a43e3350495a",
        "name": "distance <10 and Car obj acc>30 when one is car",
        "info": "",
        "x": 350,
        "y": 220,
        "wires": []
    },
    {
        "id": "d73cec0c8024f382",
        "type": "serial out",
        "z": "d212a43e3350495a",
        "name": "",
        "serial": "84b5927ffda683d4",
        "x": 1350,
        "y": 40,
        "wires": []
    },
    {
        "id": "2812d09880d1259b",
        "type": "delay",
        "z": "d212a43e3350495a",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1580,
        "y": 100,
        "wires": [
            [
                "96cdebf1a571ccfe"
            ]
        ]
    },
    {
        "id": "96cdebf1a571ccfe",
        "type": "serial out",
        "z": "d212a43e3350495a",
        "name": "",
        "serial": "84b5927ffda683d4",
        "x": 1770,
        "y": 100,
        "wires": []
    },
    {
        "id": "c3279d0f16f1e609",
        "type": "function",
        "z": "d212a43e3350495a",
        "name": "Check if possible",
        "func": "msg.payload = msg.mTwo + \"100\"\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1330,
        "y": 100,
        "wires": [
            [
                "2812d09880d1259b",
                "9ee52fdf44c2147c"
            ]
        ]
    },
    {
        "id": "9ee52fdf44c2147c",
        "type": "debug",
        "z": "d212a43e3350495a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1730,
        "y": 40,
        "wires": []
    },
    {
        "id": "95e9bab1058ab225",
        "type": "delay",
        "z": "d212a43e3350495a",
        "name": "",
        "pauseType": "rate",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "20",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 180,
        "y": 100,
        "wires": [
            [
                "5dfaa201886eedc1",
                "2550762e4c693c0d"
            ]
        ]
    },
    {
        "id": "2550762e4c693c0d",
        "type": "debug",
        "z": "d212a43e3350495a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 370,
        "y": 140,
        "wires": []
    },
    {
        "id": "6abb98ccc469f5eb",
        "type": "comment",
        "z": "d212a43e3350495a",
        "name": "detect person in car (car to person)",
        "info": "",
        "x": 300,
        "y": 320,
        "wires": []
    },
    {
        "id": "78f52b2da7548c2a",
        "type": "function",
        "z": "d212a43e3350495a",
        "name": "Check if possible",
        "func": "if(msg.payload[0].name == \"Person\" && msg.mOne == \"Car\")\n{\n    if(1 > msg.distance)\n    {\n        msg.payload = msg.aa + \"50\"\n        msg.inCar = true\n        return msg;\n    }\n}\nif(msg.payload[0].name == \"Car\" && msg.mOne == \"Person\")\n{\n    if(1 > msg.distance)\n    {\n        msg.payload = msg.aa + \"50\"\n        msg.inCar = true\n        return msg;\n    }\n}\nmsg.payload = msg.aa + \"51\"\nmsg.inCar = false\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1090,
        "y": 320,
        "wires": [
            [
                "9c7146a25f6ecde2",
                "05de162134386121"
            ]
        ]
    },
    {
        "id": "146d6dab9bc18dd9",
        "type": "function",
        "z": "d212a43e3350495a",
        "name": "send",
        "func": "msg.payload = msg.mTwo + \"50\"\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1530,
        "y": 360,
        "wires": [
            [
                "87525376c25f692b",
                "eb3d52270620d183"
            ]
        ]
    },
    {
        "id": "260a7d2e23ec0d8f",
        "type": "serial out",
        "z": "d212a43e3350495a",
        "name": "",
        "serial": "84b5927ffda683d4",
        "x": 1510,
        "y": 400,
        "wires": []
    },
    {
        "id": "87525376c25f692b",
        "type": "delay",
        "z": "d212a43e3350495a",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1760,
        "y": 360,
        "wires": [
            [
                "71b019d0ea6414ba"
            ]
        ]
    },
    {
        "id": "71b019d0ea6414ba",
        "type": "serial out",
        "z": "d212a43e3350495a",
        "name": "",
        "serial": "84b5927ffda683d4",
        "x": 1970,
        "y": 360,
        "wires": []
    },
    {
        "id": "743608c267c1eb3d",
        "type": "comment",
        "z": "d212a43e3350495a",
        "name": "distance <1",
        "info": "",
        "x": 230,
        "y": 360,
        "wires": []
    },
    {
        "id": "9c7146a25f6ecde2",
        "type": "switch",
        "z": "d212a43e3350495a",
        "name": "true",
        "property": "inCar",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1310,
        "y": 360,
        "wires": [
            [
                "146d6dab9bc18dd9",
                "260a7d2e23ec0d8f",
                "eb3d52270620d183",
                "b163d0e02a998d81"
            ]
        ]
    },
    {
        "id": "05de162134386121",
        "type": "switch",
        "z": "d212a43e3350495a",
        "name": "false",
        "property": "inCar",
        "propertyType": "msg",
        "rules": [
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1310,
        "y": 460,
        "wires": [
            [
                "bc69d19cbcc7ca57",
                "260a7d2e23ec0d8f",
                "eb3d52270620d183",
                "43f2fae9bce64769"
            ]
        ]
    },
    {
        "id": "bc69d19cbcc7ca57",
        "type": "function",
        "z": "d212a43e3350495a",
        "name": "send",
        "func": "msg.payload = msg.mTwo + \"51\"\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1530,
        "y": 460,
        "wires": [
            [
                "87525376c25f692b",
                "eb3d52270620d183"
            ]
        ]
    },
    {
        "id": "78590cc1bf9e6894",
        "type": "inject",
        "z": "d212a43e3350495a",
        "name": "display x",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "471150",
        "payloadType": "str",
        "x": 980,
        "y": 460,
        "wires": [
            [
                "f553a36819af623a"
            ]
        ]
    },
    {
        "id": "56151de1a5b6daa9",
        "type": "inject",
        "z": "d212a43e3350495a",
        "name": "display x",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "795250",
        "payloadType": "str",
        "x": 970,
        "y": 500,
        "wires": [
            [
                "f553a36819af623a"
            ]
        ]
    },
    {
        "id": "451f2054220ea2dd",
        "type": "inject",
        "z": "d212a43e3350495a",
        "name": "display nothing",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "471151",
        "payloadType": "str",
        "x": 1000,
        "y": 540,
        "wires": [
            [
                "f553a36819af623a"
            ]
        ]
    },
    {
        "id": "93f0ff5d449f6a8a",
        "type": "inject",
        "z": "d212a43e3350495a",
        "name": "Display nothing",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "795251",
        "payloadType": "str",
        "x": 990,
        "y": 580,
        "wires": [
            [
                "f553a36819af623a"
            ]
        ]
    },
    {
        "id": "dee919cc2f665eb6",
        "type": "inject",
        "z": "d212a43e3350495a",
        "name": "Alert",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "4711100",
        "payloadType": "str",
        "x": 970,
        "y": 620,
        "wires": [
            [
                "f553a36819af623a"
            ]
        ]
    },
    {
        "id": "0bc7764f1b47a2e1",
        "type": "inject",
        "z": "d212a43e3350495a",
        "name": "Alert",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "7952100",
        "payloadType": "str",
        "x": 960,
        "y": 660,
        "wires": [
            [
                "f553a36819af623a"
            ]
        ]
    },
    {
        "id": "f553a36819af623a",
        "type": "serial out",
        "z": "d212a43e3350495a",
        "name": "",
        "serial": "84b5927ffda683d4",
        "x": 1270,
        "y": 540,
        "wires": []
    },
    {
        "id": "eb3d52270620d183",
        "type": "debug",
        "z": "d212a43e3350495a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1750,
        "y": 280,
        "wires": []
    },
    {
        "id": "b163d0e02a998d81",
        "type": "function",
        "z": "d212a43e3350495a",
        "name": "Query DB",
        "func": "msg.topic = \"SELECT Passenger.car, Passenger.person FROM Passenger WHERE Passenger.person = \" + msg.aa +\" AND Passenger.car = \" + msg.mTwo +\" OR Passenger.person = \"+ 0\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1520,
        "y": 200,
        "wires": [
            [
                "709346eaeca0a452"
            ]
        ]
    },
    {
        "id": "709346eaeca0a452",
        "type": "mysql",
        "z": "d212a43e3350495a",
        "mydb": "6956152fdeb741d3",
        "name": "",
        "x": 1690,
        "y": 200,
        "wires": [
            [
                "eb3d52270620d183",
                "19a8ea9811fabefd",
                "a8dc658522fd0ea4"
            ]
        ]
    },
    {
        "id": "19a8ea9811fabefd",
        "type": "switch",
        "z": "d212a43e3350495a",
        "name": "insert",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "empty"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 2010,
        "y": 140,
        "wires": [
            [
                "93acacbb20f730db"
            ]
        ]
    },
    {
        "id": "a8dc658522fd0ea4",
        "type": "switch",
        "z": "d212a43e3350495a",
        "name": "update",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nempty"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 2000,
        "y": 220,
        "wires": [
            [
                "5f00c8b6c8d3d084"
            ]
        ]
    },
    {
        "id": "93acacbb20f730db",
        "type": "function",
        "z": "d212a43e3350495a",
        "name": "Query DB",
        "func": "\nmsg.topic = \"INSERT INTO Passenger (car, person) VALUES (\"+msg.mTwo+\",\"+msg.aa+\")\"\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2160,
        "y": 140,
        "wires": [
            [
                "ce50f46b6e8cae02"
            ]
        ]
    },
    {
        "id": "ce50f46b6e8cae02",
        "type": "mysql",
        "z": "d212a43e3350495a",
        "mydb": "6956152fdeb741d3",
        "name": "",
        "x": 2350,
        "y": 180,
        "wires": [
            [
                "f2e79c247bde049d"
            ]
        ]
    },
    {
        "id": "f2e79c247bde049d",
        "type": "debug",
        "z": "d212a43e3350495a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 2510,
        "y": 180,
        "wires": []
    },
    {
        "id": "5f00c8b6c8d3d084",
        "type": "function",
        "z": "d212a43e3350495a",
        "name": "Query DB",
        "func": "msg.topic = \"UPDATE Passenger SET Passenger.person = \"+msg.aa+\" WHERE Passenger.person = \"+0+\" AND Passenger.car = \"+msg.mTwo;\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2160,
        "y": 220,
        "wires": [
            [
                "ce50f46b6e8cae02"
            ]
        ]
    },
    {
        "id": "43f2fae9bce64769",
        "type": "function",
        "z": "d212a43e3350495a",
        "name": "Query DB",
        "func": "\nmsg.topic = \"UPDATE Passenger SET Passenger.person = \"+ null +\" WHERE Passenger.person = \"+msg.aa+\" AND Passenger.car = \"+msg.mTwo;\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1680,
        "y": 500,
        "wires": [
            [
                "ce50f46b6e8cae02"
            ]
        ]
    }
]